<SubSection>
  <:header>{{@title}}</:header>
  <:content>{{@description}}</:content>
  <:footer>
    <div class="grid gap-4">
      <div class="flex gap-5">
        <span class="flex gap-3 items-center">
          <Toucan::Icon @path="controls/favorite-24" />
          <span>{{@stars}}</span>
        </span>
        <span class="flex gap-3 items-center">
          <img src="/_icon_branch-24.png" alt="" role="none"/>
          <span>{{@forks}}</span>
        </span>
      </div>

      <div>
        <Toucan::Link @href={{@url}}>
          <span class="flex gap-3 items-center">
            <span>View project</span>
            <Toucan::Icon @path="micro/caret-right-16" />
          </span>
        </Toucan::Link>
      </div>
    </div>
  </:footer>
</SubSection>
